<div class="center no-items-container" *ngIf="reminders.length == 0">
  <mat-icon class="big-icon">alarm</mat-icon>
  <h1>Nothing in Reminders</h1>
  <p>No reminders as of now.</p>
  <button mat-raised-button color="primary" (click)="addNew()">Create reminder</button>
</div>
<mat-card *ngFor="let reminder of reminders" class="reminder-card">
  <mat-card-title>{{reminder.title}}</mat-card-title>
  <mat-card-content>
    <p>{{reminder.desc}}</p>
    <p *ngIf="reminder.dueDate">
      <strong>Due date:</strong> {{reminder.dueDate | date}}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="markAsDone(reminder)">Mark as done</button>
  </mat-card-actions>
</mat-card>
<span class="app-action" @enterAnimation>
  <button mat-fab (click)="addNew()" matTooltip="Add new reminder" matTooltipPosition="left">
    <mat-icon>add</mat-icon>
  </button>
</span>