<mat-sidenav-container fullscreen>
  <mat-sidenav #left class="app-sidenav mat-elevation-z3" [mode]="isMobile ? 'over' : 'side'">
    <mat-toolbar>
      Links
      <span fxFlex></span>
      <button mat-icon-button (click)="left.close()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of links" [routerLink]="['/'+link.link]" routerLinkActive="active-link" (click)="left.close()">
        <mat-icon matListIcon>{{link.icon}}</mat-icon>
        <p matLine>{{link.title}}</p>
        <span fxFlex></span>
        <span class="unread-badge" [matTooltip]="link.unreadCount+' new emails'" matTooltipPosition="right" *ngIf="link.unreadCount">{{link.unreadCount}}</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item *ngFor="let link of otherLinks" [routerLink]="['/'+link.link]" routerLinkActive="active-link" (click)="left.close()">
        <mat-icon matListIcon>{{link.icon}}</mat-icon>
        <p matLine>{{link.title}}</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary" class="mat-elevation-z3 app-toolbar">
      <button mat-icon-button (click)="left.open()" *ngIf="!isSidenavOpen">
        <mat-icon>menu</mat-icon>
      </button>
      Inbox
      <span fxFlex></span>
      <mat-chip-list>
        <mat-chip class="devmode-chip" *ngIf="isDevMode" color="warn" selected (dblclick)="disableDevMode()" matTooltip="Tap/ click two times to disable"><mat-icon>build</mat-icon> Developer mode enabled</mat-chip>
      </mat-chip-list>
      <button mat-icon-button (click)="refresh()" [class.isRefreshing]="isRefreshing" matTooltip="Refresh">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="appsMenu" matTooltip="Apps">
        <mat-icon>apps</mat-icon>
      </button>
      <mat-menu #appsMenu="matMenu" xPosition="before" [overlapTrigger]="false" class="google-app-menu">
        <mat-grid-list cols="3" rowHeight="2:1">
          <mat-grid-tile class="google-app" *ngFor="let app of apps">{{app.title}}</mat-grid-tile>
        </mat-grid-list>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="accountMenu" matTooltip="Account">
        <span class="avatar accent-1">JD</span>
      </button>
      <mat-menu #accountMenu="matMenu">
        <mat-list>
          <mat-list-item>
            <p matLine>John Doe</p>
            <span matLine>johndoe105@email.com</span>
          </mat-list-item>
        </mat-list>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          Log out
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="app-content" fxLayout="row">
      <div class="app-links-left mat-elevation-z3" *ngIf="!isSidenavOpen && !isMobile">
        <mat-nav-list>
          <a mat-list-item *ngFor="let link of links" [routerLink]="['/'+link.link]" routerLinkActive="active-link" (click)="left.close()" [matTooltip]="link.title" matTooltipPosition="right">
            <mat-icon>{{link.icon}}</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item *ngFor="let link of otherLinks" [routerLink]="['/'+link.link]" routerLinkActive="active-link" (click)="left.close()" [matTooltip]="link.title" matTooltipPosition="right">
            <mat-icon>{{link.icon}}</mat-icon>
          </a>
        </mat-nav-list>
      </div>
      <div class="app-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>