<mat-sidenav-container fullscreen>
	<mat-sidenav #left class="app-sidenav mat-elevation-z3" [mode]="isMobile ? 'over' : 'side'">
		<mat-toolbar>
			<span fxFlex></span>
			<button mat-icon-button (click)="left.close()">
				<mat-icon>keyboard_arrow_left</mat-icon>
			</button>
		</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item *ngFor="let link of links" [routerLink]="['/'+link.link]" routerLinkActive="active-link" (click)="left.close()">
				<mat-icon matListIcon>{{link.icon}}</mat-icon>
				<p matLine>{{link.title}}</p>
			</a>
			<mat-divider></mat-divider>
			<a mat-list-item *ngFor="let link of otherLinks" [routerLink]="['/'+link.link]" routerLinkActive="active-link" (click)="left.close()">
				<mat-icon matListIcon>{{link.icon}}</mat-icon>
				<p matLine>{{link.title}}</p>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content fxLayout="column">
		<mat-toolbar color="primary" class="mat-elevation-z3">
			<button mat-icon-button (click)="left.open()" *ngIf="!isSidenavOpen">
				<mat-icon>menu</mat-icon>
			</button>
			Inbox
			<span fxFlex></span>
			<button mat-icon-button (click)="refresh()" [class.isRefreshing]="isRefreshing" matTooltip="Refresh">
				<mat-icon>refresh</mat-icon>
			</button>
			<button mat-icon-button [matMenuTriggerFor]="accountMenu" matTooltip="Account">
				<span class="avatar accent-1">JD</span>
			</button>
			<mat-menu #accountMenu="matMenu">
				<mat-list>
					<mat-list-item>
						<p matLine>John Doe</p>
						<span matLine>johndoe105@email.com</span>
					</mat-list-item>
				</mat-list>
				<button mat-menu-item (click)="logOut()">
					<mat-icon>exit_to_app</mat-icon>
					Log out
				</button>
			</mat-menu>
		</mat-toolbar>
		<div class="app-content" fxLayout="row">
			<div class="app-links-left mat-elevation-z3" *ngIf="!isSidenavOpen && !isMobile">
				<mat-nav-list>
					<a mat-list-item *ngFor="let link of links" [routerLink]="['/'+link.link]" routerLinkActive="active-link" (click)="left.close()" [matTooltip]="link.title" matTooltipPosition="right">
						<mat-icon>{{link.icon}}</mat-icon>
					</a>
					<mat-divider></mat-divider>
					<a mat-list-item *ngFor="let link of otherLinks" [routerLink]="['/'+link.link]" routerLinkActive="active-link" (click)="left.close()" [matTooltip]="link.title" matTooltipPosition="right">
						<mat-icon>{{link.icon}}</mat-icon>
					</a>
				</mat-nav-list>
			</div>
			<div class="app-main">
				<router-outlet></router-outlet>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>